/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 350px;
    height: fit-content;
}

.app {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.result-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, .3);
    padding: 2px 4px;
    border-radius: 2px;
}

.counter-label {
    font-size: 12px;
    margin-bottom: 5px;
}

.counters {
    padding-left: 2%;
    padding-right: 2%;
}

.button-container {
    margin-top: 15px;
}

.currentMarket {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    font: bolder 10px
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    font: bolder 10px
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: bisque;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.1);
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}

.zui-table {
    border: hidden 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: hidden 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border-bottom: outset 1px #DDEEEE;
    color: #333;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
}


.Progressbar {
    position: relative;
    height: 20px;
    border-radius: 2px;
    background-color: #484848;
  }
  
.Progressbar__value {
    height: 20px;
    transition: width 0.4s ease-in-out;

    background-color: #fc6b02;
    will-change: width;
}
  
.Progressbar > progress {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    pointer-events: none;
}

