* {
  outline: 0px solid green;
}

#badge {
  position: fixed; /* Fixed position */
  display: grid;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  bottom: 20px; /* Position the badge 10 pixels from the top */
  left: calc(50vw - 2.5rem); /* Position the badge 10 pixels from the right */
  font-size: 4rem; /* Set the font size of the close icon to 20 pixels */
  text-align: center; /* Center the close icon horizontally */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the badge */
  color: white;
  text-align: center;
  transition: all 0.3s ease; /* Add a transition to animate the badge */
  background-color: transparent;
}

#toggleOpen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper.close {
  opacity: 0;
  top: -2000px;
}

#wrapper {
  z-index: 21;
  height: 900px;
}

#footer {
  z-index: 21;
}
