* {
  outline: 0px solid green;
}

#badge {
  position: fixed; /* Fixed position */
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  bottom: 20px; /* Position the badge 10 pixels from the top */
  left: calc(50vw - 2.5rem); /* Position the badge 10 pixels from the right */
  font-size: 4rem; /* Set the font size of the close icon to 20 pixels */
  text-align: center; /* Center the close icon horizontally */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the badge */
  color: white;
  text-align: center;
  transition: all 0.3s ease; /* Add a transition to animate the badge */
  background-color: transparent;
}

#toggleOpen {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleClose {
  position: relative;
  top: 0;
  right: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  color: white;
  font-size: 4rem;
  border-radius: 5px;
  background-color: transparent;
  width: 5rem;
  margin: 1.8rem 1.8rem 0 1.8rem;
  transition: all 0.3s ease; /* Add a transition to animate the badge */
}

#toggleClose:active {
  transform: scale(
    0.95,
    0.95
  ); /* When the badge is clicked, scale it up to 1.1 times its original size */
}

#toggleClose:hover {
  cursor: pointer;
  color: lightgray;
}

#sidebar {
  position: fixed; /* Fixed position */
  top: 0rem; /* Stick the sidebar to the top of the page */
  bottom: 0rem;
  width: 100%; /* Set the width of the sidebar to 0 */
  transition: all 0.3s ease; /* Add a transition to make the sidebar slide in and out smoothly */
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.925); /* Background color */
  box-shadow: 0 0 40px rgb(0, 0, 0); /* Add a box shadow to the badge */
  min-height: 600px;
  opacity: 100;
  z-index: 9999;
}

#sidebar.close {
  opacity: 0;
}

#badge:active {
  transform: scale(
    0.8,
    0.8
  ); /* When the badge is clicked, scale it up to 1.1 times its original size */
}

#wrapper {
  z-index: 9999;
  height: 900px;
}

#footer {
  z-index: 9999;
}
