#bestpreis-button {
  background-color: black;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  overflow: visible;
  -webkit-appearance: button;
  text-transform: none;
  font: inherit;
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  opacity: 1;
  border: none;
  cursor: pointer;
  text-decoration: none;
  word-wrap: normal;
  color: #fff;
  width: 100%;
  border-radius: 2px;
  padding: 16px 8px;
  transition: 0.3s;
}

#bestpreis-button:hover {
  background-color: #ff5e19;
}

.result-container{
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  text-align: center;
  height: 80px;
  overflow: auto;
}

.currentMarket {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  font-size:25px;
  font-weight:bold;
}

.counters {
  display: none;
  margin-top: 15px;
}

.Progressbar {
  margin-left: 4vw;
  margin-right: 4vw;
  position: relative;
  height: 20px;
  border-radius: 4px;
  background-color: #484848;
}

.Progressbar__value {
  height: 20px;
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
  background-color: #ffffff;
  will-change: width;
}

.Progressbar > progress {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  pointer-events: none;
}
