


#badge {
  position: fixed; /* Fixed position */
  bottom: 20px; /* Position the badge 10 pixels from the top */
  right: 20px; /* Position the badge 10 pixels from the right */
  width: 125px; /* Set the width and height of the badge to 30 pixels */
  height: 125px;
  font-size: 50px; /* Set the font size of the close icon to 20 pixels */
  line-height: 125px; /* Vertically center the close icon */
  text-align: center; /* Center the close icon horizontally */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the badge */
  color: white;
  z-index: 9999;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease; /* Add a transition to animate the badge */
  background-color: rgba(0, 0, 0, 0.911);/* Background color */
  box-shadow: 0 0 30px rgb(0, 0, 0); /* Add a box shadow to the badge */
}

:root {
  --main-bg-color: #000000;
  --main-desktop-font-size: 2rem;
  --main-mobile-font-size: 1rem;
  --secondary-desktop-font-size: 0.8rem;
  --main-desktop-line-height: 3.5rem;
  --main-mobile-line-height: 2.5rem;
  --main-desktop-padding: 1rem;
  --main-mobile-padding: 0.5rem;
  --main-desktop-border-radius: 1.1rem;
  --main-mobile-border-radius: 0.5rem;
  --main-desktop-border-width: 2px;
  --main-mobile-border-width: 1px;
  --main-desktop-border-color: #ffffff;
  --main-mobile-border-color: #ffffff;
  --main-desktop-border-style: solid;
  --main-mobile-border-style: solid;
}





#sidebar {
  position: fixed; /* Fixed position */
  top: 1.2rem; /* Stick the sidebar to the top of the page */
  bottom: 1.2rem; /* Make the sidebar the same height as the page */
  right: 1.2rem; /* Position the sidebar off the right edge of the page */
  max-width: 30%;
  max-height: 80%;
  box-sizing: border-box; /* Add some box-sizing to make the height include the padding */
  transition: all 0.3s ease; /* Add a transition to make the sidebar slide in and out smoothly */
  z-index: 500;
  backdrop-filter: blur(15px);
  border-radius: 1.1rem;
  background-color: rgba(0, 0, 0, 0.925);/* Background color */
  box-shadow: 0 0 40px rgb(0, 0, 0); /* Add a box shadow to the badge */
  font-family: 'Courier New', monospace;
  min-width: 500px;
  min-height: 900px;
}

@media screen and (max-width: 600px) {
  #sidebar {
    max-width: 95%; /* Set the width of the sidebar */
    min-width: 360px;
  }
}

#sidebar.open {
  opacity: 0;
}

#badge:active {
  transform: scale(0.8, 0.8); /* When the badge is clicked, scale it up to 1.1 times its original size */
}

#startButton {
  margin: 1.8rem;
  font-size: var(--main-desktop-font-size);
  padding: 1rem;
}

#startButton:hover {
  color: black;
  background-color: white;
}

#startButton:active {
  color: black;
  background-color: white;
}

#resultTable > div > a:active {
  color: black;
  background-color: white;
}

#resultTable > div > a:hover {
  color: black;
  background-color: white;
}

#resultTable > div > a:active {
  color: black;
  background-color: white;
}

button {
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: inherit;
  font-size: var(--main-desktop-font-size);
  cursor: pointer;
  transition: all 0.3s ease;
}

#resultTable > div > a {
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: inherit;
  font-size: var(--main-desktop-font-size);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}

#preisDetektivApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
  min-height: 550px;
  right: 0;
}

#resultContainer {
  height: 100%;
  max-height: 100%;
  min-height: 0;  /* NEW */
  min-width: 0;  
  width: 100%;
}

#resultTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  scrollbar-width: none; /* Hide the default scrollbar */
  scrollbar-color: transparent transparent; /* Create a new, invisible scrollbar */
  height: 100%;
  overflow: auto;
  max-height: 80%; /* Set the maximum height of the child element to 100% of the parent element */
  z-index: 505;
  border-bottom: #ffffff 2px solid;
}


#resultTable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#resultTable > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 1rem;
  color: white;
  font-size: var(--main-desktop-font-size);
  z-index: 505;
  
}

#resultHeading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
}

#resultHeading > div {
  display: grid;
  place-items: center;
  margin: 2px;
  padding: 1rem;
  color: white;
  font-size: var(--main-desktop-font-size);
  z-index: 505;
}

#affiliate {
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  color: white;
  text-decoration: none;
  z-index: 500;
  padding: 1rem;
  font-size: var(--secondary-desktop-font-size);
  padding-bottom: 1rem;
}


#sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
